@import url('https://fonts.googleapis.com/css?family=Exo');
/* Calc */

#hiddenResult {
	border: 1px solid gray;
	padding-top: 5px;
	margin-left: 10%;
	width: 20%;
	text-align: center;
	border-bottom: 4px solid #49627d;
	height: 30px
}

.calc h3 ~ p {
	margin-top: 2%;
	background-color: #fff;
}

#resultOperation {
	background-color: #ddd;
}

#num2,
#num1 {
	margin: 5px;
}

.calc p {
	background-color: #ddddddf2;
	margin: 10px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 5px;
}

/* map */

#map {
	width: 100%;
	height: 400px;
	background-color: #818182;
	position: relative;
	z-index: 1;
}

/* Global */

h1 {
	padding: 3%;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	background-color: #49627d;
	margin: 10px 0;
	box-shadow: 0 6px 4px -4px #AAA;
}

h3 {
	padding: 1%;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	border-bottom: 4px solid #45aada;
	margin: 10px 0;
	box-shadow: 0 6px 4px -4px #AAA;
}

a:hover {
	text-decoration: none;
}

.card-block {
	padding: 5px;
}

body {
	border-left: 36px solid #49627d;
	background-color: #f7f7f7;
	padding: 5px;
}

body * {}

body .first {
	background-image: url('img/web-2643093_1920.png');
	background-position: 980px 160px;
	background-size: 20%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	border-left: 6px solid #49627d;
	box-shadow: 1px 6px 4px -4px #AAA;
	font-family: 'Fira Sans', sans-serif;
	padding: 1% 0;
	margin-bottom: 2px;
	margin: 2% 0;
}

h6 {
	float: right;
	font-size: 20px;
}

h5 a {
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	color: #673ab7;
}

#accordion {
	margin: 5%;
}

/* GRA W KOSCI */

.clear {
	clear: both;
}

.combo {
	font-size: 22px;
}

.data {
	width: 450px;
	height: 50px;
	margin: 3%;
	background-color: #867a76;
	text-align: center;
	line-height: 2;
	padding-top: 1%;
}

.result,
.roundField,
.combo,
.suma {
	font-size: 20px;
	color: cornsilk;
}

#button1 {
	background: #6595c7;
	border: 2px solid black;
	font-size: 20px;
	margin: 10px 0 20px 100px;
	width: 190px;
	border-radius: 5px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	text-align: center;
	font-weight: 500;
}

#button1:hover {
	background: #ddddddba;
	cursor: pointer;

}

/* zasady DICE */

#score {
	margin-left: 5px;
}

.box {
	background-color: silver;
	text-align: center;
	padding: 3%;
	font-weight: 600;
	margin: 3%
}

.float {
	display: flex;
}

.diceSection {
	display: flex;
	background-color: #c0c0c0;
}

.parent {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 5s;
	border-radius: 10px;
	left: 60px;
	transform: rotateX(350deg) rotateZ(355deg);
}

.animation {
	animation-name: rotation;
	animation-duration: 5s -webkit-animation-name: rotation;
	-webkit-animation-duration: 5s;

}

.perspective {
	width: 80px;
	margin: 15px 20px;
	height: 80px;
	border-radius: 10px;
	perspective: 300px;
	-webkit-perspective: 300px;
}

.parent > div {
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	border-radius: 10px;
	background-color: #dddddde0;
	box-shadow: 1px 1px 12px 3px grey inset;
}

.dice {
	transform: translateZ(35px);
	-webkit-transform: translateZ(35px);
	background-image: url(img/title_2.png);
	border-radius: 10px;
	background-color: #0040855e;
	border: 1px solid grey;
}

.back {
	transform: translateZ(-35px);
	-webkit-transform: translateZ(-35px);
	background-image: url('img/title_1.png');
	background-position: center;
}

.leftSide {
	transform: rotateY(-90deg) translateZ(35px);
	-webkit-transform: rotateY(-90deg) translateZ(35px);
	background-image: url(img/title_4.png);
}

.rightSide {
	transform: rotateY(90deg) translateZ(35px);
	-webkit-transform: rotateY(90deg) translateZ(35px);
	background-image: url(img/title_3.png);
}

.topSide {
	transform: rotateX(-90deg) translateZ(35px);
	-webkit-transform: rotateX(-90deg) translateZ(35px);
	background-image: url(img/title_5.png);
}

.bottomSide {
	transform: rotateX(90deg) translateZ(35px);
	-webkit-transform: rotateX(90deg) translateZ(35px);
	background-image: url(img/title_6.png);
}

.parent > div > div {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border-radius: 25%;
	box-shadow: 0 0 1px 2px #000, 0 0 3px 1px #00F inset;
}

@keyframes rotation {
	0% {
		transform: rotateX(0) rotateZ(0);
	}
	100% {
		transform: rotateX(360deg) rotateZ(360deg);
	}
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotateX(0) rotateZ(0);
	}
	100% {
		-webkit-transform: rotateX(360deg) rotateZ(360deg);
	}
}

/* *********** button to top page */

#buttonTopPage {
	padding: 2px;
	background-color: #45aada;
	font-size: 30px;
	position: fixed;
	bottom: 145px;
	z-index: 2;
	right: 5px;
	cursor: pointer;
	display: none;
}

#buttonDownPage {

	background-color: #45aada;
	font-size: 30px;
	position: fixed;
	z-index: 2;
	bottom: 145px;
	left: 5px;
	cursor: pointer;
	transform: rotate(180deg);
}

#buttonTopPage:hover,
#buttonDownPage:hover {
	color: #f00;
}

/************ lotery */

.lottery {
	display: flex;
	white-space: nowrap;
	padding-top: 2%;
}

.lottery > div {
	margin-left: 5px;
	margin-right: 15px;
	padding-top: 3px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	height: 30px;
	background: -webkit-linear-gradient(#ffd66d, #ffbc4a);
	background: -o-linear-gradient(#ffd66d, #ffbc4a);
	background: -moz-linear-gradient(#ffd66d, #ffbc4a);
	background: linear-gradient(#ffd66d, #ffbc4a);
}

#draw {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	margin: 0.5em 1em;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	margin-top: 5%;
}

#draw * {
	box-sizing: border-box;
}

#draw:before,
#draw:after {
	display: block;
}

#draw:before {
	bottom: 0%;
}

#draw:after {
	bottom: 75%;
}

#draw span {
	backface-visibility: hidden;
	color: #000;
	display: block;
	padding: 0.5em 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
}

#draw span:hover {
	color: #ffffff;
}

#draw span:before {
	bottom: 25%;
}

#draw span:after {
	bottom: 50%;
}

#draw:before,
#draw:after,
#draw span:before,
#draw span:after {
	background-color: #962d22;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	content: '';
	z-index: -1;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: all 0.5s steps(5);
	transition: all 0.5s steps(5);
}

#draw:hover:before,
#draw:hover:after,
#draw:hover span:before,
#draw:hover span:after {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	opacity: 1;
}

#draw:hover:before {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;

}

#draw:hover:after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

#draw:hover span:before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

#draw:hover span:after {
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

/*******Obrazek przesuwany myszką*/

#picture {
	position: absolute;
	z-index: 1;
}

h4 {
	padding: 3%;
	font-family: sans-serif;
}

.changeColor {
	color: red;
	cursor: default;
}

.cursor {
	cursor: zoom-in;
}

button {
	/* border-radius: 5px; */
	border-width: 2px;
	border-style: outset;
	border-color: #868e96;
	border-image: initial;
	cursor: pointer;
}

button:hover {
	color: #af0000;
}

/* Form*/

/* Formularz */

.form {
	margin: 0 auto;
	flex: 2;
}

.label {
	width: 100%;
	display: block;
	padding: 10px 0;
	font-size: 1em;
}

.input {
	padding: 10px 10px;
	width: 50%;
	border-bottom: 1px double #171717;
	border-top: 1px double #171717;
	border-left: 1px double #333333;
	border-right: 1px double #333333;
	position: relative;
	display: inline-block;
}

#fieldAddition {
	width: 5%;
	float: left;
}

/* sprawdzanie danych formularza*/

.tooltip {
	position: relative;
	background-color: #000;
	color: #ffffff;
	border-radius: 10px;
	display: inline-block;
	opacity: 1 !important;
}

.label:before {
	content: "*";
	position: relative;
	top: 20px;
	left: -20px;
	visibility: visible;
	color: #cc0000;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

}

.message {
	padding: 7px 7px;
	width: 70%;
	border-bottom: 1px double #171717;
	border-top: 1px double #171717;
	border-left: 1px double #333333;
	border-right: 1px double #333333;
	overflow: hidden;
	height: 150px;
}

.form-button {
	margin: 5px 0 10px 0;
	padding: 4px 7px;
	background: #cc0000;
	border: 2px solid #cc0000;
	width: 100px;
	border-radius: 10px;
	text-transform: uppercase;
	font-family: cursive;
}

.form-text {
	width: 40% !important;
	float: left;
	margin: 0 3%;
	font-size: 0.9em;
}

#initialValue1,
#initialValue2 {
	display: none;
	color: #f00;
}

/* register */

/*#register {
	border: 2px dotted #bcbac4;
	border-radius: 50%;
	padding-top: 20px;
	padding: 10px;
	display: table-cell;
	text-align: center;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}*/

#register * {
	vertical-align: middle;
}

#register {
	line-height: 1em;
	margin: 15px 40px;
	outline: none;
	padding: 12px 40px 10px;
	border-width: 0;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px dotted #bcbac4;
	border-radius: 50%;
	padding-top: 20px;
	padding: 10px;
	display: table-cell;
	text-align: center;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}

#register:before,
#register:after {
	-webkit-transition: all 0.75s;
	transition: all 0.75s;
	border: 2px dotted #bcbac4;
	border-width: 0;
	content: "";
	height: 50px;
	padding: 5px;
	position: absolute;
	width: 50px;

}

#register:before {
	border-color: #49627d;
	border-left-width: 2px;
	border-top-width: 2px;
	left: -8px;
	top: -8px;
}

#register:after {
	border-bottom-width: 2px;
	border-color: #49627d;
	border-right-width: 2px;
	bottom: -8px;
	right: -8px;
}

#register:hover {
	background-color: #49627d;
	-webkit-transition: all 0.75s;
	transition: all 0.75s
}

#register:hover:before,
#register:hover:after {
	height: 100%;
	width: 100%;

}

.card-body {
	padding-left: 5%;
}

/* reg */

#boom {
	display: none;
	text-stroke-width: 3px;
	text-stroke-color: rgba(125, 10, 233, 0.5);
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: rgba(125, 10, 233, 0.5);
	padding: 0.2em;
	font-size: 6em;
	font-weight: bolder;
	transform: rotate(-5deg);
}

.regflex {
	display: flex;
}

.regflex > div.reg {
	width: 50%;
	margin-left: 5%;
}

/* style reg */

/* Animacja licznik 2 */

#register2 {
	padding: 35px 0px 10px;
	border-radius: 50%;
	position: relative;
	background-color: transparent;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	width: 180px;
	height: 160px;
}

#register2:before,
#register2:after {
	-webkit-transition: all 0.75s;
	transition: all 0.75s;
	border: 6px solid;
	border-right-color: ;
	border-left-color: transparent;
	border-top-color: #000 !important;
	border-bottom-color: #000000 !important;
	border-radius: 50%;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
}

#register2:before {
	border-color: #49627d;
	border-left-width: 2px;
	border-top-width: 2px;
	left: 0;
	top: 0;
}

#register2:after {
	border-bottom-width: 2px;
	border-color: #49627d;
	border-right-width: 2px;
	bottom: 0;
	right: 0;
}

#register2:hover {
	-webkit-transition: all 0.75s;
	transition: all 0.75s
}

#register2:hover:before,
#register2:hover:after {
	border-color: transparent;
	animation: rotation2 ease-out 1s;
	border-right-color: #000000;
	border-left-color: #000000;
	border-top-color: #ffffff !important;
	border-bottom-color: #ffffff !important;
}

@-webkit-keyframes rotation2 {
	0% {
		-webkit-transform: rotate(0) rotateZ(0);
	}
	30% {
		-webkit-transform: rotate(180deg) rotateZ(0);
	}
	100% {
		-webkit-transform: rotate(0) rotateZ(0);
	}
}

/* animacja - wykrzyknik */

#exclamationMark {
	padding: 1%;
	background-color: #13a6aa;
}

#stop {
	width: 123px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 10px 1%;
	background: #4e82b7;
}

#stop:before,
#stop:after {
	box-shadow: 0 0 6px 3px #183a5d inset;
	position: absolute;
	content: "";
	height: 0;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#stop:before {
	left: 0;
	bottom: 0px;
	width: 10%;
	height: 0;
	border-right: 1px solid black;
}

#stop:after {
	width: 10%;
	top: 0;
	right: 0;
	height: 0;
	border-left: 1px solid black;
}

#stop:hover:after {
	height: 100%;
}

#stop:hover:before {
	height: 100%;
}

#emot {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #ffffaa;
	border: 1px solid black;
	border-radius: 50%;
	float: left;
	margin-left: 5px;


}

#emot div {
	position: absolute;
}

#emot div:nth-child(1) {
	left: 3px;
	background-color: black;
	top: 3px;
	border: 1px solid black;
	width: 3px;
	height: 3px;
	border-radius: 5px;
}

#emot div:nth-child(2) {
	right: 3px;
	background-color: black;
	top: 3px;
	border: 1px solid black;
	width: 3px;
	height: 3px;
	border-radius: 5px;
}

#emot div:nth-child(3) {
	transform: rotate(90deg);
	left: 5px;
	font-size: 12px;
	color: #ad2424;
	top: 3px;
}

/** Paint **/

.paint {
	height: 75vh;
	margin-left: 2%;
	border: 1px solid red;
	background-image: url(img/paper-535969_1920.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.body-index2 {
	padding: 0;

}

.body-index2 * {
	box-sizing: border-box;
	text-align: center;
}

.body-index2 h1 {
	padding: 5px;
}

.body-index2 span {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #000;
	margin: 0;
	padding: 0;
}

.paint-bar {
	padding: 20px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	z-index: 3;
	position: relative;
	font-family: sans-serif;
	margin: 5px;
}

.paint-bar < * {
	flex: 1;
	padding: 1px;
	margin: 5px;
}

.paint-bar .paint-size-val {
	border-radius: 3px;
	padding: 0 10px;
	color: #333;
	background: #333;
	padding: 5px;
	margin-right: 30px;
	margin-left: 10px;
	color: #fff;
	display: inline-block;
	text-align: center;
	position: relative;
}

.paint-bar .paint-size-val:before {
	content: '';
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translate(0, -50%);
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #333;
}

.paint-buttons-cnt {
	display: flex;
	flex: 2;
	margin-left: 3%;
}
