
  html {
    font-size: 10px;

}
body > * {
    overflow-x: hidden;
       flex-direction: column;
   }
// colors

$primaryColor:  #45aada;
$secondColor:  #f0f0f0;
$greyColor: #cccccc;

// fonts

$h1fontSize: 3.8em;
$h2fontSize: 2em;
$h3fontSize: 2em;
$h6FontSize: 1.2em;
$basicSize: 1.1em;

$secondFontFamily: 'Exo', sans-serif;
$primaryFontFamily: 'Open Sans', sans-serif;



// brakpionts

@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }
    body > * {
        overflow-x: hidden;
           flex-direction: row;
       }
   
    
}