html {
	font-size: 10px;

}

body>* {
	overflow-x: hidden;
	flex-direction: column;
}

// colors
.align-left {
	text-align: left;
}

$primaryColor: #45aada;
$secondColor: #fbfbfb;
$greyColor: #cccccc;
$black: #000000;
$red: #a31f1f;
$white: #ffffff;
// fonts

$h1fontSize: 3.8em;
$h2fontSize: 2em;
$h3fontSize: 2em;
$h6FontSize: 0.81em;
$basicSize: 1.1em;

$secondFontFamily: 'Quicksand', sans-serif;
$primaryFontFamily: 'Open Sans',
sans-serif;



// brakpionts

@media (min-width: 1024px) {
	html {
		font-size: 18px;
	}

	body>* {
		overflow-x: hidden;
		flex-direction: row;
	}


}


/****input-range ****/

input[type=range] {
	outline: none;
	padding: 0;
	width: 20%px;
	height: 2px;
	background-color: #dedede;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc107), color-stop(100%, #ff1100));
	background-size: 50% 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	-webkit-appearance: none;
	margin: 12.85px 15px;
	vertical-align: middle;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background: transparent;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	box-shadow: none;
	border: none;
	background: transparent;
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	height: 18px;
	width: 28px;
	border: 0;
	background: #fff;
	border: 1px solid #777;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
}

/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
	height: 18px;
	width: 28px;
	border: 0;
	background: #fff;
	border: 1px solid #777;
	border-radius: 8px;
	box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}