html {
  font-size: 10px;
}

body > * {
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-left {
  text-align: left;
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  body > * {
    overflow-x: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/****input-range ****/
input[type=range] {
  outline: none;
  padding: 0;
  width: 20%px;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc107), color-stop(100%, #ff1100));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  margin: 12.85px 15px;
  vertical-align: middle;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  border: 0;
  background: #fff;
  border: 1px solid #777;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 28px;
  border: 0;
  background: #fff;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

input {
  font-size: 1.1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
  border-bottom: 4px solid #45aada;
}

h1 {
  padding: 1%;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  font-size: 3.8em;
}

h6 {
  font-size: 1.2em;
}

.arrow, main .section ol li, nav a span:before {
  padding: 5px;
  color: #45aada;
  font-size: 1.1em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.align-center {
  text-align: center;
}

.header, footer {
  background-color: #45aada;
  -webkit-box-shadow: 0 6px 4px -4px #AAA;
          box-shadow: 0 6px 4px -4px #AAA;
  text-align: center;
  margin-bottom: 2%;
}

main {
  max-width: 1200px;
  padding: 1%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 68vh;
}

main .article {
  background-color: #f0f0f0;
  padding: 2%;
  overflow: auto;
  text-align: center;
}

main .section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

main .section ol {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
}

main .section ol li {
  display: block;
  overflow: hidden;
}

main .section ol li:hover {
  padding-left: 17px;
}

main .section ol a {
  padding: 5px;
}

button {
  margin: 2%;
  padding: 10px 5px;
  min-width: 150px;
  cursor: pointer;
  font-size: 1.1em;
}

nav {
  text-align: center;
  padding: 5px;
}

nav a {
  position: relative;
}

nav a span:before {
  position: absolute;
  padding-left: 0;
  left: -3%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav a:hover .fa:before {
  left: -8%;
}

footer {
  margin-bottom: 0;
  padding: 1em 0;
  line-height: 1em;
}

footer h6 {
  padding: 0;
  margin: 0;
}

footer .fa-project-diagram {
  color: #f0f0f0;
  padding-left: 0.51em;
}

footer .project {
  margin: 0 2px;
  padding: 3px;
  text-transform: uppercase;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 15px;
  -webkit-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

footer .project:hover {
  background-color: #f0f0f0;
}

/* bar - img */
.bg-bar {
  width: 160px;
  height: 32px;
  margin: 0 auto;
  position: relative;
}

.bg-bar:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../img/fire.png);
  top: 0;
  left: 0;
  opacity: 0.2;
}

.placeholder {
  height: 100%;
  width: 32px;
  display: block;
  background-image: url(../img/fire.png);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 4px 4px #e0d7d7;
  box-shadow: 26 25px 27px 28px red;
  margin: 17px auto;
}

.container-to-do {
  padding: 12px;
  background-color: #cccccc;
}

.container-to-do li {
  cursor: pointer;
  color: #000000 !important;
  text-align: right;
  -webkit-text-decoration-color: red !important;
          text-decoration-color: red !important;
  -webkit-text-decoration-style: wavy !important;
          text-decoration-style: wavy !important;
}

.container-to-do button {
  background-color: #2542c7;
  border: none;
  outline: none;
  color: #fff;
  padding: 2px 5px;
}

.container-to-do button.button--strikethrought {
  background-color: #a31f1f;
}

.module-filter {
  text-align: center;
  display: inline-block;
  position: relative;
}

.module-filter span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #2542c7;
  z-index: 19;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.module-filter input {
  padding-left: 30px;
  position: relative;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 9;
}

.module-filter input:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.module-filter input:focus + span {
  left: -30px;
  color: #a31f1f;
}

.container-slider {
  max-width: 1292px;
  overflow: hidden;
  max-height: 500px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.container-slider h4 {
  text-align: center;
  font-size: 30px;
  color: #000;
  position: relative;
  z-index: 23;
}

.container-slider img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 250%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.92s ease;
  transition: all 0.92s ease;
  opacity: 0;
}

.container-slider img.active {
  left: 50%;
  opacity: 0.9;
}

.container-slider img.prev {
  left: -150%;
  opacity: 0;
}

.container-slider .dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container-slider .dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid red;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.container-slider .dots span:hover {
  background-color: red;
}

.container-slider .dots span.active {
  background-color: red;
  -webkit-box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
          box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}

.container-donate {
  position: absolute;
  height: 300px;
  width: 200px;
}

.container-donate div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background-color: #AAA;
  opacity: 0;
  -webkit-transition: all 1.97s;
  transition: all 1.97s;
  visibility: hidden;
}

.container-donate div.donate--a {
  background-color: red;
}

.container-donate div.current {
  opacity: 1;
  visibility: visible;
}

.pjeoject-pass .message {
  padding: 10px 0;
  border: 1px solid red;
  max-width: 500px;
  margin: 40px auto;
}

.pjeoject-pass .focus {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */