@import "_settings.scss";
body {
    margin: 0;
    padding: 0;
    font-family: $primaryFontFamily;
    font-weight: 400;
}
a {
    color: #000;
    text-decoration: none;
    font-family: $primaryFontFamily;
}
input {
    font-size: $basicSize;
}
h2 {
    font-size: $h2fontSize;
}

h3 {
    font-size: $h3fontSize;
    font-family: $secondFontFamily;
    border-bottom: 4px solid $primaryColor;
    
}
h1 {
    padding: 1%;
    font-family: $secondFontFamily;
    margin: 0;
    font-size: $h1fontSize;
}
h6 {
    font-size: $h6FontSize;
}
.arrow {
    padding: 5px;
    color: $primaryColor;
    font-size: $basicSize;
    transition: all .5s ease;

}
.align-center {
    text-align: center;
}
.header {
    background-color: $primaryColor;
    box-shadow: 0 6px 4px -4px #AAA;
    text-align: center;
    margin-bottom: 2%;
}

main {
    max-width: 1200px;
    padding: 1%;
    margin: 0 auto;
    display: flex;
    min-height: 68vh;
    .article {
        background-color: $secondColor;
        padding: 2%;
        overflow: auto;
        text-align: center;
    }
    .section {
        flex: 2;
        text-align: center;
        ol {
            text-align: left;
            max-width: 500px;
            margin: 0 auto;
            li {
                @extend .arrow;
                display: block;
                overflow: hidden;
                &:hover {
                    padding-left: 17px;
                }
            }
            a {
                padding: 5px;
            
            }
        }
    }
}

button {
    margin: 2%;
    padding: 10px 5px;
    min-width: 150px;
    cursor: pointer;
    font-size: $basicSize;
}
nav {
    text-align: center;
    padding: 5px;
    a {
        position: relative;
        span:before {
            @extend .arrow;
            position: absolute;
            padding-left: 0;
            left: -3%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            .fa:before {
                left: -8%;
            }
           
        }
    }
}
footer {
    @extend .header;
    margin-bottom: 0;
    padding: 1em 0;
    line-height: 1em;
    h6 {
    padding: 0;
    margin: 0;
    }
        .fa-project-diagram {
            color: $secondColor;
            padding-left: 0.51em;
        
    }
    .project {
        margin: 0 2px;
        background-color: $secondColor;
        padding: 3px;
        text-transform: uppercase;
    }
}
/* bar - img */
.bg-bar {
    width: 160px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    
    }
    .bg-bar:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../img/fire.png);
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    .placeholder {
        height: 100%;
        width: 32px;
        display: block;
        background-image: url(../img/fire.png);
    }
    // 
    // Zadania to do 
    // 
.container {
    max-width: 600px;
    margin: 0 auto;
    // &--slider {
        
    // }
    &-to-do {
        padding: 12px;
        background-color: $greyColor;
        li {
            cursor: pointer;
            color: $black !important;
            text-align: right;
            text-decoration-color: red !important;
            text-decoration-style: wavy !important;
        }
        button {
            background-color: #2542c7;
            border: none;
            outline: none;
            color: #fff;
            padding: 2px 5px;
            // text-decoration: inherit;
            
            &.button--strikethrought {
                background-color: $red; 
            }
        }
    }
}
.module-filter {
    text-align: center;
    display: inline-block;
    position: relative;
    span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        color: #2542c7;
        z-index: 19;
        transition: all .6s ease;
    }
    input {
        padding-left: 30px;
        position: relative;
        transition: all .6s ease;
        z-index: 9;
        &:focus {
            transform: scale(1.2);
            & + span {
                left: -30px;
                color: $red;
            }
        }
     
}
}
.container-slider {
       max-width: 1292px;
    overflow: hidden;
    max-height: 500px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    h4 {
        text-align: center;
        font-size: 30px;
        color: #000;
        position: relative;
        z-index: 23
        ;
    }
    img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 250%;
        transform: translate(-50%, -50%);
        transition: all 0.92s ease;
        opacity: 0;
        &.active {
            left: 50%;
            opacity: 0.9;
        }
        &.prev {
            left: -150%;
            opacity: 0;
        }
    }
    .dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid red;
            display: inline-block;
            cursor: pointer;
            margin: 10px;
            &:hover {
                background-color: red;             
            }
            &.active {
                background-color: red;      
                box-shadow: 0 0 0 5px white, 0 0 3px 10px red; 
            }
        }
    }

}